@charset "UTF-8";

:root {
    --corbg: rgb(192, 134, 178);
    --corwhite: white;
    --corblack: black;
    --cor1: rgb(223, 195, 224);
    --cor2: rgb(144, 83, 146);
    --shadow: rgba(0, 0, 0, 0.13);
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    width: 50%;
    margin: 0% 0% 0% 25%;
    background-color: var(--corbg);
}

header {
    background-color: var(--cor1);
    margin: 0px;
    box-shadow: 0px 10px 20px 10px var(--shadow);
}

header > h1 {
    font-size: 2.5em;
    padding-top: 20px;
    text-align: center;
}

header > p {
    font-size: 1.08em;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    background-color: var(--cor2);
}

.menu2023 {
    margin-right: auto;
    margin-left: auto;
}

ul.meses2023 {
    text-align: left;
    display: none;
    width: 95%;
    height: 50px;
    background-color: var(--cor2);
}

div > p {
    color: var(--corwhite);
    font-size: 1.1em;
    background-color: var(--cor2);
    padding: 10px;
    margin: 0px;
}

.menu2024 {
    margin-right: auto;
    margin-left: auto;
}

div.menu2023:hover .meses2023 {
    display: inline-block;
}

ul.meses2024 {
    text-align: left;
    display: none;
    width: 95%;
    height: 170px;
    background-color: var(--cor2);
}

div.menu2024:hover .meses2024 {
    display: inline-block;
}

div > ul > li > a {
    color: var(--corwhite);
    text-decoration: none;
    text-shadow: 1px 1px 1px var(--corblack);
}

div > ul > li {
    list-style-type: none;
}

div > ul > li:hover {
    text-decoration: underline var(--corwhite);
}

main {
    background-color: var(--cor1);
    padding: 20px;
    box-shadow: 0px 10px 20px 0px var(--shadow);
}

main  > h1 {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

main > p {
    text-indent: 10px;
}

main > img {
    margin: 20px 0px 0px 25%;
    width: 50%;
    height: 40%;
}

main > .meio {
    text-align: center;
    font-size: 1.1em;
    margin: 50px 0px -15px 0px;
}

footer {
    text-align: center;
    background-color: var(--corblack);
    color: var(--corwhite);
    padding: 10px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}